*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
display: flex;
justify-content: space-between;
height: 28vh;
align-items: center;
padding: 0 12vw;
background: transparent;
width: 100%;
position: relative;


}
.main-video{
position: absolute;
height: 100vh;
object-fit: cover;
top: 0;
width: 100%;
z-index: -9999;
}

.head-first img{
  height: 6vh;
}
a{
  
  text-decoration: none;
  
}
.head-second {
 display: flex;
 gap: 4vh;
 
}
.head-second a{
  font-weight: bold;
color: rgb(3, 9, 48);
font-family: Arial, Helvetica, sans-serif;
}
.head-second i{
   transition: all 0.5s ease-in-out;
}
.head-second a:hover i{
transform: rotate(180deg);


}
.head-second a:hover{
  color: #bb0a89;
}

.head-third a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
color: rgb(3, 9, 48);
border-radius: 2vh ;
padding: 16px;
background-color: #FFFFFF;

}

.head-third a:hover{
transition: all 0.5s ease-in-out;
background: linear-gradient(160deg, #6c1ab2 , #d14fa0);
color: #FFFFFF;

}


.knowledge:hover .KnowledgeBase-cointainer{
  display: flex;
  color: #FFFFFF;
}

.knowledge{

   position: relative;

}

.KnowledgeBase-cointainer{
position: absolute;
height: auto;
width: 12vw;
background-color: rgb(232, 237, 234);
border: 2px solid rgb(37, 189, 171);
border-radius: 8px;
top: 100%;
display: none;
color: #FFFFFF;
left: 0;
padding: 1vh;
display: none;
flex-direction: column;
gap: 2vh;

}

.KnowledgeBase-cointainer a:hover{
 color: rgb(3, 9, 48);
}
.head-four{
display: none;
}

@media(width <=480px){

header{
  height: 8vh;
  width: 100%;
}
.head-first img{

  height: 4vh;
}
a{
  display: none;
   font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.head-third a{
  display: block;
   font-weight: 800;
color: rgb(3, 9, 48);

font-family: Arial, Helvetica, sans-serif;
}

.head-third a:hover{

  padding: 2vh;
  border-radius: 40px;
 background-color: rgb(219, 212, 203);
}

.head-four{
display: block;
}

}




main{
  height: 75vh;
  padding: 0 6vw;
-webkit-box-shadow: inset 1px -100px 21px 0px #FFFDE1; 
box-shadow: inset 1px -100px 21px 0px #FFFDE1;

}

main h1 {
  padding-top: 80px;
  font-size: 48px;
  color: #030930;
}

main p {
  padding-top: 10px;
  opacity: 0.7;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-container div {
  background-color: #030930;
  padding: 16px;
  border-radius: 40px;
  color: #bababa;
}

.search-container input {

  background-color: #030930;
  border: none;
  outline: none;
  color: white;
}

.search-container input::placeholder {
  font-weight: bold;
  color: #bababa;
}


.Category{
 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #030930;
  background-color: #FFFFFF;

 }

.Category h1{
font-weight: 700;
font-size: 60px;

}
.Category p{
  opacity: 0.5;
  color: #666666;
  letter-spacing: 0.00938em;
      line-height: 1.6;
   font-size: 18px;
}

.Explore{

  padding-top: 32px;
display: flex;
justify-content: center;
gap: 20px;


}

.Explore-child{
 
  background: transparent;
  
   width: 30%;
   box-shadow: inset 0px -150px 50px 0px white;
  overflow: hidden;
   gap: 8px;
   
}
.Explore-child video{
 width: 100%;
  z-index: -99;
border-radius: 4%;

}

.Explore-child p{
  font-size: 28px;
  color: #030930;
  font-weight: bold;
  padding-bottom: 10px;
}

.Explore-child a{
 color: white;
  background-color: #030930;
  padding: 12px 30px;
  border-radius: 8px;
  width: max-content;
}


.List-Cointainer{
height: 100vh;

}


.list-child{
  height: 200px;
  width: 200px;
  border: 2px solid red;
}


/*-----------------------------------------------------------*/
/*
.container {
  overflow: hidden;
}

.animate-container {
  display: flex;
  gap: 20px;
  margin: 40px 0;
  animation: animate-1 20s linear infinite;
}

@keyframes animate-1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.child {
  height: 140px;
  width: 300px;
  border: 2px solid #6c1eb2;
  border-radius: 10px;
  flex-shrink: 0;
}*/

/*----------------------------------------------------------------------------------------------*/
section
{
  height: 100vh;
  overflow: hidden;
}

.container p{
  margin: 12vh 0 8vh 0;
text-align: center;
font-size: 80px;
color: #030930;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}



.List-container{
display: flex;
gap: 28px;
  cursor: pointer;
animation: animation-box 10.9s linear infinite;
}
.List-child{
 height: 140px;
  width: 300px;
  border-radius: 12px;
  border:  3px solid #d5ecff;
   flex-shrink: 0;
   padding: 20px;
   background-color: #f4faff;
}


@keyframes animation-box{
  from{
transform: translateX(0deg);
  }to{
transform: translateX(-100%);
  }
}


#imga{
  height: 40px;
  width: 40px;
}

#am{
   height: 40px;
  width: 40px;
}

.List-child p{
color: #6d6a6a;
}
.List-child h3{
  color: #030930;
font-weight:bolder ;
font-size: 100%;
margin-top: 8px;
}

.arrowdiv{
  margin-top: 80px;
  text-align: center;

}

.arrowdiv i{
  
  background-color: #f4faff;
 border-radius: 16px;
  border: 3px solid #d5ecff;
  color: #030930;
 padding: 30px;
height: 80px;
width: 80px;
margin-right: 8px;
}

.arrowdiv i:hover{
  background-color: #b4c0ca;
}

.Aicm-coin{
display: flex;
 height: 200px;
 justify-content: center;

}
.Aicm-coin video{
inset: 8px;
  border-radius: 140px;
  border: 1px solid rgb(84, 81, 81);
background: transparent;
-webkit-box-shadow: -1px 14px 17px 7px rgba(0,0,0,0.52); 
box-shadow: -1px 14px 17px 7px rgba(0,0,0,0.52);
padding: 4px;
margin-bottom: 8px;
}


.Aicm-what{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.Aicm-what p{

  font-family: Arial, Helvetica, sans-serif;

line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #030930;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    opacity: 0.5;

}
.Aicm-what h1{
  font-family: Arial, Helvetica, sans-serif;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    color: rgb(3, 9, 48);
    font-size: 60px;
    font-weight: 680;
}

.btn{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 30px;


}
.btn1{
  background-color: #d5ecff;
  border-radius: 12px;
  border: 3px solid #a8bcc2;
padding: 20px;
width: 120px;
}

.Audit-sec{
  margin-top: 20px;

display: flex;
justify-content: center;
margin-bottom: 20px;
}

.Audit-child1{
  background-color: #edf3f6;
    padding: 40px 48px;
  height: 500px;
  width: 600px;
 border-radius: 20px;
}

.Audit-child1 h4{
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 300%;
}
.Audit-child1 p{
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.43;
    letter-spacing: 0.01071em;
  margin-top: 40%;
    font-size: 18px;
    font-weight: bold;
}
.Audit-child2{
  background-color: #edf3f6;
  padding: 16px 28px;
  height: 500px;
  width: 600px;
 border-radius: 20px;
 
}
.Audit-child2 img{

      width: 100%;
    max-width: 300px;
    height: auto;
cursor: pointer;
}

#xl{
  margin-left: 28px;
  margin-top: 24px;
  height: 80px;
  width: 220px;
}

/*token utiity*/


.token{

display: flex;
justify-content: center;

}

.token-1{

height: 600px;
width: 600px;
background-color: #FFFFFF;
border-radius: 12px;

}
.token-1 h4{
  font-size: 400%;
  color: #030930;
     margin-left: 16px;
}


.token-1 p{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    max-width: 550px;
    margin-bottom: 24px;
    text-align: left;
    margin-left: inherit;
    font-weight: bold ;
    margin-right: inherit;
       margin-left: 16px;
       
}

.card1{
display: flex;
align-items: center;

}

.Card1-child{
  display: flex;
  align-items: center;
  height:80px;
  gap: 12px;
  background-color: #f6f8f9; 
border: 2px solid #9acdf7;
 padding: 16px;
margin-right: 16px;
font-size: larger;
border-radius: 16px;
}

.card2{
display: flex;
align-items: center;

  
}
.Card2-child{
  margin-top: 12px;
    display: flex;
  align-items: center;
  height:80px;
  gap: 12px;
  background-color: #edf3f6;
  padding: 16px;
border: 3px solid #9acdf7;
margin-right: 16px;
font-size: larger;
border-radius: 16px;
}


.card3{
display: flex;
align-items: center;
}

.Card3-child{
  margin-top: 12px;
    display: flex;
  align-items: center;
  height:80px;
  gap: 12px;
  background-color: #edf3f6;
  padding: 16px;
border: 3px solid #9acdf7;
margin-right: 16px;
font-size: larger;
border-radius: 16px;

}
.link-div{
  padding: 12px 14px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 67px, rgba(0, 0, 0, 0.08) 0px 1px 2px;
  width: 100%;
    max-width: 200px;
    border-radius: 12px;
   margin-left: 16px;
   margin-top: 16px;
   
}

.link-div img{
  background: transparent;
cursor: pointer;
  border: none;
  outline: none;
}

.token-2{

height: 600px;
width: 600px;
background-color: #FFFFFF;
border-radius: 12px;
}

.token-2 img{
  padding: 30px;

}

/*roadmap*/

.road{
  display: flex;
  justify-content: center;
}
.roadmap{
display: flex;
flex-direction: column;
align-items: center;

width: 100%;
max-width: 50%;


}

.roadmap h2{
  font-size: 80px;
  font-weight: normal;
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
}
.roadmap p{
  text-align: center;
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
  word-spacing: 2px;
  margin-top: 16px;
 font-weight: bold;
}


.rbutton{
display: flex;
justify-content: center;
margin-top: 40px;
}

.rbtn{
    padding: 0.75rem 1.5rem;
    margin: 0px 0.5rem;
    border: none;
    border-radius: 8px;
   background-color: #666666;
    color: rgb(64, 14, 179);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

}

.rbtn:hover{
   background-color: rgb(10, 16, 56);
}
.rbtn button{
  background: transparent;
  outline: none;
  border: none;
  color: #FFFFFF;
}
/*roadmap*/


/*Q*/

.Q-container{
  display: flex;
  justify-content: center;
  height: 180px;

margin-top: 100px;
gap: 180px;
}

.Q-child1{

align-self: flex-end;
 font-family: Arial, Helvetica, sans-serif;


height: 100px;
}
.Q-child1 h2{
  margin-top: 12px;
   font-family: Arial, Helvetica, sans-serif;
  color: #030930;
  font-size: 250%;
}

.Q-child2 h2{
  margin-top: 12px;
   font-family: Arial, Helvetica, sans-serif;
   color: #030930;
 font-size: 250%;
  }
.Q-child3 h2{
  margin-top: 12px;
   font-family: Arial, Helvetica, sans-serif;
   color: #030930;
   opacity: 0.5;
    font-size: 250%;
}
.Q-child1 p{
color: #030930;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 120%;

 opacity: 0.5;

}
.Q-child2 p{
color: #030930;
 font-family: Arial, Helvetica, sans-serif;
font-size: 120%;
 opacity: 0.5;

}
.Q-child3 p{
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
 opacity: 0.5;
}

.Q-child2{
  align-self: center;
  
  height: 100px;
}

.Q-child3{
align-self: flex-start;
 
  height: 100px;
}

/*Q*/


/*List*/

.List{
display: flex;
justify-content: center;
gap: 200px;
}


.List li{


display: flex;
justify-content: center;
align-items: center;
gap: 12px;
padding: 16px;
  background-color: #f6f8f9; 
border: 2px solid #9acdf7;
border-radius: 12px;
 margin-top: 8px;
}

.List1 li{
  align-self: flex-end;
  margin-top: 8px;
}

#Listmar1{
  margin-top: 140px;
}

#Listmar2{
  margin-top: 80px;
}


/*List*/

/*Footer*/

footer{
  display: flex;
margin-top: 200px;



}


.foot1{
 
height: 400px;
width: 50%;



}
.foot1 img {
  margin-top: 40px;
  margin-left: 40px;
}

.foot1 P{
  margin-top: 10%;
   margin-left: 40px;
   color: #030930;
   font-size: 24px;
   font-weight: bold;
   opacity: 0.7;
}
.foot1 i{
  margin-top: 20%;
align-self: flex-end;
 margin-left: 40px;

}
.foot2{
 height: 400px;
width: 50%;


}
/*Footer*/

/*last footer*/

.vdbdsv{
  display: flex;
  justify-content: space-between;
}

.foot2-child{
margin-left: 280px;
  background-color: #d5ecff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 12px;
  width: 100%;
max-width: 440px;
border: 1px solid #067e9c;


}

.Listfoot{
  
display: flex;  
justify-content: center;
margin-top: 80px;
gap: 80px;
}

.Listfoot p{
  color: #030930;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 0.7;
}

.ListChild a{
  
display: block;     
  margin-top: 16px;  
  color: #030930;
  font-size: 20px;
  font-weight: bold;
 
}

.lastf{
  display: flex;
 
  height: 100px;
}

.lastf-child1{
  width: 50%;
display: flex;
justify-content: space-between;

}



.lastf-child1 p{
font-size: 150%;

}

.lastf-child2 p{
font-size: 150%;
color: #030930;
}

.lastf-child2{
  width: 50%;
  display: flex;
  justify-content: space-between;

}
#fd{
  margin-left: 40px;
}
/*last footer*/