*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
display: flex;
justify-content: space-around;
height: 10vh;
align-items: center;
margin: 2vh;
background: transparent;
width: 100%;
position: fixed;

}

a{
  
  text-decoration: none;
  
}
.head-second {
 display: flex;
 gap: 4vh;
 
 transition: all 5s ease-in-out;
}
.head-second a{
  font-weight: 800;
color: rgb(3, 9, 48);
font-family: Arial, Helvetica, sans-serif;
}

.head-second a:hover i{
transform: rotate(180deg);
}


.head-third a{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
color: rgb(3, 9, 48);
}

.head-third a:hover{
padding: 10px;
background-color: rgb(219, 212, 203);
border-radius: 2vh ;

}

.head-four{
display: none;
}

@media(width <=480px){

header{
  height: 8vh;
  width: 100%;
}
.head-first img{

  height: 4vh;
}
a{
  display: none;
   font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.head-third a{
  display: block;
   font-weight: 800;
color: rgb(3, 9, 48);
font-family: Arial, Helvetica, sans-serif;
}

.head-third a:hover{

  padding: 2vh;
  border-radius: 40px;
 background-color: rgb(219, 212, 203);
}

.head-four{
display: block;
}

}